---
const today = new Date();
---

<footer>
	<p>&copy; {today.getFullYear()} Abner.</p>
</footer>
<style>
	footer {
		max-width: 800px;
		margin: 0 auto;
		padding: 4rem 1.25rem 5rem;
		color: var(--muted);
		font-size: 0.85rem;
	}
	p {
		margin: 0;
	}
</style>
