---
const today = new Date();
---

<footer>
	<p>&copy; {today.getFullYear()} GitHub Native Blog.</p>
</footer>
<style>
	footer {
		padding: 2rem 1rem 3rem;
		color: var(--muted);
		text-align: center;
		font-size: 0.95rem;
	}
	p {
		margin: 0;
	}
</style>
